<div class="programming-all">
<h2 class="programming-h2">
	Programming
</h2>
<div class="row" id="prorowpad">
	<div class="programming-row">
		<div class="programming-dot">
		<i class="fa-brands fa-python"></i>
		</div>
		<div class="programming-info">Python</div>
	</div>
	<div class="graph-div">
		<div class="radial-graph">
			<div class="shape">
				<div class="mask full-mask" id="python">
					<div class="fill" id="python"></div>
				</div>
				<div class="mask">
					<div class="fill"></div>
					<div class="fill shim" id="python"></div>
				</div>
			</div>
			<div class="cutout">
			</div>
		</div>
	</div>
</div>
<div class="row" id="prorowpad">
	<div class="programming-row">
		<div class="programming-dot">
			<i class="fa-brands fa-r-project"></i>
		</div>
		<div class="programming-info">R</div>
	</div>
	<div class="graph-div">
		<div class="radial-graph">
			<div class="shape">
				<div class="mask full-mask" id="R">
					<div class="fill" id="R"></div>
				</div>
				<div class="mask">
					<div class="fill"></div>
					<div class="fill shim" id="R"></div>
				</div>
			</div>
			<div class="cutout">
			</div>
		</div>
	</div>
</div>
<div class="row" id="prorowpad">
	<div class="programming-row">
		<div class="programming-dot">
			<i class="fa-solid fa-database"></i>
		</div>
		<div class="programming-info">SQL</div>
	</div>
	<div class="graph-div">
		<div class="radial-graph">
			<div class="shape">
				<div class="mask full-mask" id="sql">
					<div class="fill" id="sql"></div>
				</div>
				<div class="mask">
					<div class="fill"></div>
					<div class="fill shim" id="sql"></div>
				</div>
			</div>
			<div class="cutout">
			</div>
		</div>
	</div>
</div>
<div class="row" id="prorowpad">
	<div class="programming-row">
		<div class="programming-dot">
		<i class="fa-brands fa-html5"></i>
		</div>
		<div class="programming-info">HTML</div>
	</div>
	<div class="graph-div">
		<div class="radial-graph">
			<div class="shape">
				<div class="mask full-mask">
					<div class="fill"></div>
				</div>
				<div class="mask">
					<div class="fill"></div>
					<div class="fill shim"></div>
				</div>
			</div>
			<div class="cutout">
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin-bottom: 17px;" id="prorowpad">
	<div class="programming-row">
		<div class="programming-dot">
		<i class="fa-brands fa-css3-alt"></i>
		</div>
		<div class="programming-info">CSS</div>
	</div>
	<div class="graph-div">
		<div class="radial-graph">
			<div class="shape">
				<div class="mask full-mask" id='css'>
					<div class="fill" id='css'></div>
				</div>
				<div class="mask">
					<div class="fill"></div>
					<div class="fill shim" id='css'></div>
				</div>
			</div>
			<div class="cutout">
			</div>
		</div>
	</div>
</div>
</div>





