<div class="resume-section"> <div class="section-title">
        <i class="fas fa-briefcase"></i>
        <h2 class="resume-h2">Work Experience</h2>
    </div>
    <div class="line"></div>
    <div class="job">
        <div class="job-title">
			AgBiome - Data Scientist
        </div>
        <div class="job-date">
            November, 2022 - Present
        </div>
    </div>
    <ul class="bullet-list">
        <li>Helped pioneer the development of a robust data science ecosystem, empowering scientists to seamlessly interact with modeling outputs. Brought together multiple company functions including data science, engineering, IT and development. This was accomplished through self-driven feedback sessions and stakeholder management.</li>
		<li>Built multiple automated systems for monitoring data pipelines and analytics workflows. This allowed for insights into previously unknown problems that could be quickly addresed and fixed. </li>
        <li>Tested multiple modeling methods including clustering, neural networks and random forests to elucidate insights into metabolic features to predict activity in screening assays. Helped improve screening hit rate by 62%.</li>
        <li>As part of the data leadership team, contributed to platform data model design, and led strategy and pipeline architecture development.</li>
		<li>Identified key areas on the data platform where cost optimization could be achieved helping the company save 20% in cloud compute costs.</li>
        <!-- Add more responsibilities as needed -->
    </ul>
    <div class="job">
        <div class="job-title">
          AgBiome -  Data Scientist/Engineer
        </div>
        <div class="job-date">
         June, 2019 - November, 2022 
        </div>
    </div>
    <ul class="bullet-list">
        <li>Developed of multiple interactive dashboards within AgBiome's genomics platform using Dash/Plotly. These visually engaging dashboards provide intuitive and insightful data representations, enabling end-users to effortlessly explore complex genomics data.</li>
        <li>Collaboratively designed and executed a comprehensive assembly processing pipeline, harnessing the power of various AWS cloud services (Step Functions, S3, Lambda). This innovative pipeline efficiently handles the processing of extensive genome datasets, ensuring streamlined and resource-effective operations.</li>
        <li>Co-led a pivotal project dedicated to the meticulous management of microbial inventory. This endeavor encompassed meticulous data standardization and the establishment of an AWS-backed system, seamlessly integrating inventory data into our data warehouse. This initiative greatly enhanced the accessibility and reliability of critical inventory information for our research and development teams.</li>
        <!-- Add more responsibilities as needed -->
    </ul>
	<div class="job">
        <div class="job-title">
            AgBiome - Microbiologist
        </div>
        <div class="job-date">
           Sept, 2014 - June, 2019
        </div>
    </div>
    <ul class="bullet-list">
		<li>Contributed to the expansion of our microbial collection, increasing it to over 80,000 diverse microbes.</li>
		<li>Evaluated and conducted extensive testing of multiple high-throughput isolation technologies, enhancing our platform's efficiency and capabilities.</li>
		<li>Managed the collection and processing of environmental samples, ensuring the effective handling of crucial data sources.</li>
        <!-- Add more responsibilities as needed -->
    </ul>
    <!-- Add more job entries and corresponding lists as needed -->
</div>
<div class="resume-section">
    <div class="section-title">
        <i class="fas fa-graduation-cap"></i>
        <h2 class="resume-h2">Education</h2>
    </div>
    <div class="line"></div>
    <div class="job">
        <div class="job-title">
            Masters of Microbial Biotechnology 
        </div>
        <div class="job-date">
            2019 </div>
    </div>
    <ul class="bullet-list">
        <li>North Carolina State University</li>
        <li>Raleigh, North Carolina</li>
        <!-- Add more details as needed -->
    </ul>
    <div class="job">
        <div class="job-title">
            Biology
        </div>
        <div class="job-date">
            2013
        </div>
    </div>
    <ul class="bullet-list">
        <li>University of South Carolina</li>
        <li>Columbia, South Carolina</li>
        <!-- Add more details as needed -->
    </ul>
    <!-- Add more education entries and corresponding details as needed -->
</div>

