 <div class="bar-chart">
        <h2 class='skills-h2'>Skills</h2>
        <div class="row">
            <div class="category-bar">
				Decision-making
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 100%;"></div>
                <div class="bar" style="width:	0%; background-color: white"></div>
			</div>
        </div>
        <div class="row">
            <div class="category-bar">
                Visualizations
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 100%;"></div>
                <div class="bar" style="width: 0%; background-color: white"></div>
			</div>
		</div>
        <div class="row">
            <div class="category-bar">
				Analytics
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 90%;"></div>
                <div class="bar" style="width: 0%; background-color: white"></div>
			</div>
		</div>
        <div class="row">
            <div class="category-bar">
                Communication
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 100%;"></div>
                <div class="bar" style="width: 0%; background-color: white"></div>
			</div>
		</div>

        <div class="row">
            <div class="category-bar">
                Leadership
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 85%;"></div>
                <div class="bar" style="width: 15%; background-color: white"></div>
			</div>
		</div>
        <div class="row">
            <div class="category-bar">
               Project Management 
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 90%;"></div>
                <div class="bar" style="width: 10%; background-color: white"></div>
			</div>
		</div>
    </div>
