 <div class="bar-chart">
        <h2 class='skills-h2'>Skills</h2>
        <div class="row">
            <div class="category-bar">
                Data Science
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 75%;"></div>
                <div class="bar" style="width: 25%; background-color: white"></div>
			</div>
        </div>
        <div class="row">
            <div class="category-bar">
                Analytics
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 100%;"></div>
                <div class="bar" style="width: 0%; background-color: white"></div>
			</div>
		</div>
        <div class="row">
            <div class="category-bar">
                Visualizations
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 100%;"></div>
                <div class="bar" style="width: 0%; background-color: white"></div>
			</div>
		</div>
        <div class="row">
            <div class="category-bar">
                Data Engineering
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 100%;"></div>
                <div class="bar" style="width: 0%; background-color: white"></div>
			</div>
		</div>

        <div class="row">
            <div class="category-bar">
                Leadership
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 85%;"></div>
                <div class="bar" style="width: 15%; background-color: white"></div>
			</div>
		</div>
        <div class="row">
            <div class="category-bar">
                Data Product Mgmt
            </div>
			<div class="stacked-bar">
                <div class="bar" style="width: 75%;"></div>
                <div class="bar" style="width: 25%; background-color: white"></div>
			</div>
		</div>
    </div>
