<div class='contact-info'>
    <h2 class='contact-h2'>Contact</h2>
    <div class="row" style='margin-bottom: 5px;'>
        <div class="programming-row" style="gap: 15px;">
            <i class="fab fa-github fa-xl" style="padding-top: 15px"></i>
			<div class='contact-piece'>GitHub <span class="contact-spans">github.com/trimbljk</span></a></div>
        </div>
    </div>
    <div class="row" style='margin-bottom: 5px;'>
        <div class="programming-row" style="gap: 15px;">
            <i class="fas fa-globe fa-xl" style="padding-top: 15px"></i>
			<div class='contact-piece'>Website <span class="contact-spans">trimbljk.github.io</span></a></div>
        </div>
    </div>
    <div class="row" style='margin-bottom: 5px;'>
        <div class="programming-row" style="gap: 20px;">
            <i class="fas fa-mobile-alt fa-xl" style="padding-top: 15px"></i>
			<div class='contact-piece' class="contact-spans">Phone <span class="contact-spans" style="white-space: nowrap;"><br/>+1-(919)-337-7040</span></div>
        </div>
    </div>
    <div class="row" style='margin-bottom: 5px;'>
        <div class="programming-row" style="gap: 15px;">
            <i class="far fa-envelope fa-xl" style="padding-top: 15px"></i>
			<div class='contact-piece'>Email <span class="contact-spans">trimbljk@aol.com</span></div>
        </div>
    </div>
    <div class="row" style='margin-bottom: 5px;'>
        <div class="programming-row" style="gap: 17px;">
            <i class="fab fa-linkedin fa-xl" style="padding-top: 15px"></i>
			<div class='contact-piece'>LinkedIn <span class="contact-spans">linkedin.com/in/jake-trimble/</span></div>
        </div>
    </div>
    <!-- Add more rows for additional contact information sets -->
</div>
