<div class="resume-section"> <div class="section-title">
        <i class="fas fa-briefcase"></i>
        <h2 class="resume-h2">Work Experience</h2>
    </div>
    <div class="line"></div>
    <div class="job">
        <div class="job-title">
            Job Title 1
        </div>
        <div class="job-date">
            Date 1
        </div>
    </div>
    <ul class="bullet-list">
        <li>Responsibility 1.1</li>
        <li>Responsibility 1.2</li>
        <li>Responsibility 1.3</li>
        <!-- Add more responsibilities as needed -->
    </ul>
    <div class="job">
        <div class="job-title">
            Job Title 2
        </div>
        <div class="job-date">
            Date 2
        </div>
    </div>
    <ul class="bullet-list">
        <li>Responsibility 2.1</li>
        <li>Responsibility 2.2</li>
        <li>Responsibility 2.3</li>
        <!-- Add more responsibilities as needed -->
    </ul>
    <!-- Add more job entries and corresponding lists as needed -->
</div>
<div class="resume-section">
    <div class="section-title">
        <i class="fas fa-graduation-cap"></i>
        <h2 class="resume-h2">Education</h2>
    </div>
    <div class="line"></div>
    <div class="job">
        <div class="job-title">
            Masters of Microbial Biotechnology 
        </div>
        <div class="job-date">
            2019 </div>
    </div>
    <ul class="bullet-list">
        <li>North Carolina State University</li>
        <li>Raleigh, North Carolina</li>
        <!-- Add more details as needed -->
    </ul>
    <div class="job">
        <div class="job-title">
            Biology
        </div>
        <div class="job-date">
            2013
        </div>
    </div>
    <ul class="bullet-list">
        <li>University of South Carolina</li>
        <li>Columbia, South Carolina</li>
        <!-- Add more details as needed -->
    </ul>
    <!-- Add more education entries and corresponding details as needed -->
</div>

